/* Styles pour le corps de la page */
body {
    margin: 0;
    padding: 0;
}

/* Styles pour le header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo img {
    max-width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Styles pour la section intro */
#intro {
    background-color: #ffffff;
    padding: 50px;
}

#intro h1 { 
    font-size: 2em;
}

/* Styles for the section services */
#services {
    background-image: url("/Images/fondgamer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "header header header"
    "service1 service2 service3"
    "service4 service5 service6";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 50px;
    align-items: center;
    padding: 50px;
    }
    
    #services h2 {
    grid-area: header;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 50px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 2.5em;
    }
    
    .service {
    display: grid;
    grid-template-areas:
    "title title"
    "description image";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    background-color: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px 60px;
    margin-top: 30px;
    margin-bottom: 50px;
    }
    
    .service h3 {
    grid-area: title;
    text-align: right;
    margin-top: 30px;
    font-size: 2em;
    font-weight: bold;
    color: #d60000;
    text-decoration: underline;
    }
    
    .service p {
    grid-area: description;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
    color: #555;
    }
    
    .service img {
    grid-area: image;
    }
  
  /* Increase spacing between the columns */
  #services {
    grid-gap: 70px;
  }
  
  /* Adjust elements for smaller screens */
  @media screen and (max-width: 767px) {
    #services {
      align-items: stretch;
      padding: 50px 20px;
    }
  
    .service {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      padding: 50px 30px;
      margin-top: 50px;
      margin-bottom: 0;
    }
  
    .service h3 {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      margin-top: 0;
      text-align: center;
    }
  }
  
  
/* Styles pour le footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
